:root{
   font-size: 60%;

   --color-background: #ffffff;
   --color-shadow: #dfe2e6;
   --color-text: #313131;
   --color-purple: #711C91;
   --color-pink: #EA01D9;
   --color-blueish: #0BBDC7;
   --color-blueish-light: #81d7db;
   --color-blue-dark: #123E7B;


}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1 {
   font-size: 3.6rem;
   font-family: 'Rokkitt', sans-serif;
   color: var(--color-text);
}

h2 {
   color: var(--color-text);
   font-size: 2rem;
   line-height: 4rem;
}

html, body, #root {
   height: 100vh;
}

body {
   background: var(--color-background);
}

#root {
   display: flex;
   justify-content: center;
}

body, input, button, textarea{
   font: 400 1.6rem Poppins;
   color: var(--color-text-in-dark);
}

.container {
   width: 90vw;
   max-width: 700px;
}

@media (min-width: 700px) {
   :root {
      font-size: 62.5%;
   }
}

/* ANIMATIONS */

@keyframes slide {
   0% { transform: translateX(-150px); opacity: 0; }
   50% { transform: translateX(0px); opacity: 1; }
}

@keyframes fade-in {
   0% { opacity: 0; }
   50% { opacity: 1; }
}