:root{
   font-size: 60%;

   --color-background: #ffffff;
   --color-shadow: #dfe2e6;
   --color-text: #444452;
   --color-text-light: #969696;


   --color-red: #ea3114;
   --color-orange: #ff7237;
   --color-yellow: #ffb06b;
   --color-yellow-light: #ffddad;
   --color-green: #4aafa8;
   --color-blueish: #008c9a;
   --color-blue: #007694;
   --color-blue-dark: #003470;


}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1 {
   font-size: 4rem;
   font-family: 'Rokkitt', sans-serif;
   color: var(--color-text);
}

h2 {
   color: var(--color-text);
   font-size: 2rem;
   line-height: 4rem;
}

html, body, #root {
   /* height: 100vh; */
   color: var(--color-text);
   overflow-x: hidden;
}


body {
   background: var(--color-background);
}

#root {
   display: flex;
   justify-content: center;
}

body, input, button, textarea{
   font: 400 1.6rem Poppins;
   color: var(--color-text-in-dark);
}


@media (min-width: 700px) {
   :root {
      font-size: 62.5%;
   }

   .container{
         width: 90vw;
         margin: 0 auto;
         padding: 25px 0px;
   }
}

/* ANIMATIONS */

@keyframes slide {
   0% { transform: translateX(-150px); opacity: 0; }
   50% { transform: translateX(0px); opacity: 1; }
}

@keyframes fade-in {
   0% { opacity: 0; }
   50% { opacity: 1; }
}

@keyframes linearwipe{ 
   from { width: 0 ;opacity: 0 } 
 }  

 @keyframes gradient {
	0% { background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
